@font-face {
    font-family: 'jaapokkiregular';
    src: url('../typo/jaapokki-regular-webfont.woff2') format('woff2'),
         url('../typo/jaapokki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h2{
    font-family: 'jaapokkiregular';
}
