@font-face {
    font-family: 'jaapokkiregular';
    src: url('../typo/jaapokki-regular-webfont.woff2') format('woff2'),
         url('../typo/jaapokki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h2{
    font-family: 'jaapokkiregular';
}

h4{
    font-family: 'jaapokkiregular';
    color:#0081af;
}

h4::before{
    content: "";
    background-color:#0081af;
    width:10%;
    height: 4px;
    border-radius:30px;
    position: absolute;
    left: 45%;
}

.position{
    position: relative;
}
