@font-face {
    font-family: 'jaapokkiregular';
    src: url('jaapokki-regular-webfont.woff2') format('woff2'),
         url('jaapokki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
