<footer>
    <div class="grid-container">
        <div class="grid-x">
            <div class="medium-6 cell text-left align-self-middle">
                <div class="grid-container">
                    <div class="grid-x">
                      <div class="medium-4 cell">
                        <a href="">
                          <img src="../assets/img/mention.png" alt="">
                          Mentions légales
                        </a>
                      </div>
                      <div class="medium-4 cell">
                        <a href="">
                          <img src="../assets/img/contact.png" alt="">
                          Contact
                        </a>
                      </div>
                    </div>
                </div>
          </div>

            <div class="medium-6 cell text-right align-self-middle">
                    <ul class="menu align-right">
                        <li><a href="">
                          <img src="../assets/img/twitter.png" alt="">
                        </a></li>
                        <li><a href="">
                          <img src="../assets/img/facebook.png" alt="">
                        </a></li>
                        <li><a href="">
                          <img src="../assets/img/instagram.png" alt="">
                        </a></li>
                    </ul>
             </div>
        </div>
    </div>
</footer>
