<header>
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="medium-3 cell">
        <img src="../assets/img/logo.png" alt="">
      </div>
      <div class="medium-6 cell align-self-middle ">
        <nav>
          <ul class="menu dropdown align-center" data-dropdown-menu data-magellan>
            <li><a href="">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Concerts</a></li>
            <li>
              <a href="">Music</a>
              <ul>
                <li><a href="">Disques</a></li>
                <li><a href="">Vidéos</a></li>
              </ul>
            </li>
            <li><a href="">Bio</a></li>
            <li><a href="">Links</a></li>
          </ul>
        </nav>
      </div>
      <div class="medium-3 cell text-right align-self-middle">
        <ul class="menu vertical dropdown align-center" data-dropdown-menu data-magellan>
          <li>
            <a href="">
              <img src="../assets/img/search.png" alt="">
            </a>
          </li>
          <li>
            <a href="">EN</a>
            <ul>
              <li><a href="">EN</a></li>
              <li><a href="">FR</a></li>
            </ul>
          </li>
      </div>
    </div>
  </div>
</header>
